details {
 width: 600px;
 padding: 1rem;
 border-radius: 8px;
 background: pink;
 box-shadow: 4px 4px 3px rgb(0, 0, 0);
}

body {
 margin-left: 37.5%;
}

summary {
 cursor: pointer;
}
summary h2 {
 display: inline;
 margin-left: 1rem;
 font-size: 1.25rem;
}
